* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica', sans-serif;
}

/*------------------------------Start Landing Page------------------------------*/

.landing-page {
	height: 100vh;
	background:
		url(../images/lbg.jpg);
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
}

.landing-container {
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.4);
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 50%;
	padding: 20px;
	text-align: center;
}


.landing-container h1 {
	color: white;
	text-align: center;
}
.landing-container a {
	text-decoration: none;
}

.landinglogo {
	width: 40%;
}

/*------------------------------End Landing Page------------------------------*/


/*-------------------------- Start Navbar & Footer ------------------------------*/

/*navbar*/
.nav-li-drop {
	border-style: none;
}

.nav-logo {
	width: 30px;
	padding-bottom: 10px;
}

.navbar {
	background-color: #9c1c1f;
}

.navbar a:hover {
  background-color: #f6c315;
}

/*footer*/
/*.footer {
	background-color: #9c1c1f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: auto;
	bottom: 0;
	flex-wrap: nowrap;
}*/
.socmed-container {
	text-align: center;
	margin-bottom: 5px;
}

.socmed-container img {
	width: 40px;
	height: 40px;
	margin-right: 5px;
	padding: 2px;
	cursor: pointer;
	transition: transform 1s;
}

.socmed-container img:hover {
	transform: scale(1.2);
}

.socmed-container h1 {
	font-size: 15px;
	margin-bottom: 5px;
	font-family: 'Muli', sans-serif;
	color: white;
}

footer {
	background-color: #9c1c1f;
	height: auto;
	width: 100vw;
	margin: 0 auto;
	bottom: 0;
	text-align: center;
	clear: both;
}

.footer-lp {
  	margin: 0 auto;
  	padding: 5px 10px;
}

.footer-lp p {
	color: white;
	font-size: 14px;
}

/*---------------------------End Navbar & Footer ------------------------------*/


/*----------------------------------- HOME ------------------------------------*/
.home-body {
	display: flex;
	flex-direction: column;
}

.h-container {
	display: flex;
	justify-content: center;
}

.homecards {
	margin-bottom: 200px;
	display: flex;
	flex-direction: row;
}

.jumbotron {
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.jumbotron-home {
	width: 100vw;

}

.carousel-home {
	width: 100vw;
}

.carousel-caption {
	position: fixed;
/*	bottom: 10%;*/
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
/*	width: 100vw;*/
/*	padding: 20px;*/
/*	justify-content: center;*/
}

.carousel-item p {
	color: #f6c315;
}

.homecards {
	width: 100vw;
}

.home-btn {
  position: absolute;
  top: 70%;
  left: 51.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 100px;
}

.card-body a {
  text-decoration: none;
  color: inherit;
}

/*=========END OF HOME==========*/

/*=========START OF SERVICES==========*/
.s-row {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100vw;
}

.s-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.s-container .box {
	position: relative;
	width: 350px;
	padding: 40px;
	background:#fff;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	border-radius:  4px;
	margin: 20px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}

.s-container .box:before {
	content:'';
	width: 50%;
	height: 100%;
	position: absoulte;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, .2);
	z-index: 3;
	pointer-events: none;
}

.s-container .box .icon {
	position: relative;
	width: 80px;
	height: 80px;
	color: #fff;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 50%;
	font-size: 40px;
	font-weight: 700;
	transition: 1s;
}

.s-container .box:nth-child(1) .icon {
	box-shadow: 0 0 0 0 #f2a01f;
	background: #f2a01f;
}

.s-container .box:nth-child(1):hover .icon {
	box-shadow: 0 0 0 400px #f2a01f;
}

.s-container .box:nth-child(2) .icon {
	box-shadow: 0 0 0 0 #f2a01f;
	background: #f2a01f;
}

.s-container .box:nth-child(2):hover .icon {
	box-shadow: 0 0 0 400px #f2a01f;
}

.s-container .box:nth-child(3) .icon {
	box-shadow: 0 0 0 0 #f2a01f;
	background: #f2a01f;
}

.s-container .box:nth-child(3):hover .icon {
	box-shadow: 0 0 0 400px #f2a01f;
}

.s-container .content {
	position: relative;
	z-index: 2;
	transition: 0.5s;
}

.s-container .box:hover .content {
	color: #fff;
}

.s-container .box .content h3 {
	font-size: 20px
	margin: 10px 0;
	padding: 0;
}

.s-container .box .content p {
	margin: 0;
	padding: 0;
}

.s-container .box .content a {
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
	font-weight: 500;
	margin-top: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2)
}

/*=========END OF SERVICES==========*/


/*=========START OF PEOPLE==========*/
.people {
	overflow-x: hidden;
}
.people-body {
	display: flex;
	flex-direction: column;
}

.people img {
	width: 400px;
}

.people .box .imgBox {
	position: relative;
	overflow: hidden;
	border-radius: 10px;

}

/*.people .box:hover .imgBox img {
	transform: scale(1);
}*/

 .people .box .details {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
	transform: scaleY(0);
	transition: transform 1s;
}

.people .box:hover .details {
	transform: scaleY(1);
	padding-left:60px;
	width: 100%;
}

.people .box .details .details2{
	position: absolute;
	top: 70%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px 15px 0 15px;
	color: #fff;
}

.people .box .details .details2 h2{

}

.people .box .details .details2 a {
	text-decoration: none;
	color: #f6c315;
	white-space: nowrap;
}
/*END OF PEOPLE*/

/*START OF ABOUT US*/

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}

/* Add some content at the bottom of the video/page */
.about-content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 50px;
  justify-content: center;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

/*END OF ABOUT US*/

/*=========START OF CLIENTS========*/
#p-container {
	width: 100%;
	max-width: 120rem;
	margin: auto;
	padding: 0 1.5rem;
}

.image-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 1.5rem;
	grid-template-areas:
		'img-1 img-2 img-3 img-3'
		'img-1 img-4 img-5 img-6'
		'img-7 img-7 img-8 img-6';
}

.image-gallery a {
	width: 100%;
	height: 25rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.image-gallery a i{
	color: rgba(255, 255, 255, .6);
	font-size: 3rem;
	position: relative;
	z-index: 100;
	padding: 1rem 3rem;
	border: 2px solid rgba(255, 255, 255, .6);
	border-radius: .4rem;
	opacity: 0;
	transition: opacity .5s;
}

.image-gallery a::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	opacity: 0;
	transition: opacity .5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before {
	opacity: 1;
}

.img-1 {
	grid-area: img-1;
	min-height: 51.5rem;
	background-image: url("../../assets/images/projects/p01.jpeg");
}

.img-2 {
	grid-area: img-2;
	background-image: url("../../assets/images/projects/p02.jpeg");
}

.img-3 {
	grid-area: img-3;
	background-image: url("../../assets/images/projects/p03.jpeg");
}

.img-4 {
	grid-area: img-4;
	background-image: url("../../assets/images/projects/p04.jpeg");
}

.img-5 {
	grid-area: img-5;
	background-image: url("../../assets/images/projects/p05.jpeg");
}

.img-6 {
	grid-area: img-6;
	min-height: 51.5rem;
	background-image: url("../../assets/images/projects/p06.jpeg");
}

.img-7 {
	grid-area: img-7;
	background-image: url("../../assets/images/projects/p07.jpeg");
}

.img-8 {
	grid-area: img-8;
	background-image: url("../../assets/images/projects/p08.jpeg");
}


/*CONTACT US PAGE*/
.contacts-body {
	display: flex;
	flex-direction: column;
}

#googlemap {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contactform {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 200px 0 200px;
}

 #map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }

#contactdetails {
 	background-color: #f2f2f2;
 	list-style-type: none;
 }
 /*END OF CONTACT US PAGE*/

 /*CLIENTS*/
 .clients img {
 	width: 200px;
 }

 .clientsmain {
 	background-color: #f1f1f1;
 }


/*-------------------------------- Medias ----------------------------------------*/

/********** ------------------------PHONE------------------------- **********/
@media only screen and (max-width:390px) {

/*------------------------------ Nav bar ----------------*/
	.nav-logo {
		width: 2.5em;
		height: 2.5em;
	}
	.nav-menu-link {
		font-size: 1em;
	}
	.toggle-txt {
		font-size: .7em;
	}

 	.nav-logo {
		display: none;
	}

	.navbar {
		font size: 12px;
	}

	.c-details h3 {
		font-size: 18px;
	}

	.c-details .c-sub {
		font-size: 10px;
	}

	#googlemap {
		width: 10px;
		height: 10px;
	}

	.forminput {
		font-size: 12px;
	}

/*------------------------------Landing Page-------------*/
.landing-container h1 {
	font-size: 20px;
}

/*------------------------------ Nav bar ----------------*/
/*	.navbar, .footer, {
		width: 100vw;
	}*/

	.jumbotron h3 {
		font-size: 12px;
		display: flex;
		flex-wrap: nowrap;
	}

	.jumbotron h1 {
		font-size: 20px;
		display: flex;
		flex-wrap: nowrap;
	}

/*-----------------------------------Gallery-------------*/
	.image-gallery {
		grid-template-areas:
		'img-1 img-1 img-1 img-1'
		'img-2 img-2 img-2 img-2'
		'img-3 img-3 img-3 img-3'
		'img-4 img-4 img-4 img-4'
		'img-5 img-5 img-5 img-5'
		'img-6 img-6 img-6 img-6'
		'img-7 img-7 img-7 img-7'
		'img-8 img-8 img-8 img-8';
	}

	.image-gallery a {
		height: 20rem;
	}

	.img-1 {
		min-height: 41.5rem;
	}

	.img-6 {
		min-height: 20rem;
	}

	  .video-container > video {
    width: 100%;
	}

	.c-details {
	width:100vw;
	overflow:hidden;
	position:relative;
	}

/*---------------------------------Services-------------*/
.s-row {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100vw;
}

.s-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}

/*---------------------------------Clients-------------*/
	.clients img {
    width: 300px;
    padding-left: 50px;
	}

}

/********** ------------------------ HYBRID ---------------------- **********/
@media only screen and (min-width:411px) and (max-width:700px) {

/*------------------------------ Nav bar ---------------*/
	.nav-logo {
		width: 2.5em;
		height: 2.5em;
	}
	.nav-menu-link {
		font-size: 1em;
	}
	.toggle-txt {
		font-size: .8em;
	}

/*----------------------------------Landing Page--------*/
	.landing-container h1 {
		font-size: 30px;
	}

/*------------------------------------Home-------------*/
	.j-container h1 {
		font-size: 18px;
	}

/*-----------------------------------Gallery-------------*/
	.image-gallery {
		grid-template-areas:
		'img-1 img-1 img-2 img-2'
		'img-1 img-1 img-3 img-3'
		'img-4 img-4 img-5 img-5'
		'img-6 img-7 img-7 img-7'
		'img-8 img-8 img-8 img-8';
	}

	.image-gallery a {
		height: 20rem;
	}

	.img-1 {
		min-height: 41.5rem;
	}

	.img-6 {
		min-height: 20rem;
	}

	  .video-container > video {
    width: 100%;
	}

}

/********** ------------------------ TABLET ---------------------- **********/
@media only screen and (min-width:701px) and (max-width:960px) {

/*------------------------------ Nav bar -----------------*/
	.nav-logo {
		width: 3.5em;
		height: 3.5em;
	}
	.nav-menu-link {
		font-size: 1.3em;
	}
	.nav-a-logo {
		margin-left: 1em;
	}
	.toggle-txt {
		font-size: 1em;
	}

/*--------------------------------- Home ----------------*/
	.homecards {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

/*----------------------------- Services ----------------*/
/*	.s-main {
		width: 80px;
	}*/

/*-----------------------------------Gallery-------------*/
	.image-gallery {
		grid-template-areas:
		'img-1 img-1 img-2 img-2'
		'img-1 img-1 img-3 img-3'
		'img-4 img-4 img-5 img-5'
		'img-6 img-7 img-7 img-7'
		'img-8 img-8 img-8 img-8';
	}

	.image-gallery a {
		height: 20rem;
	}

	.img-1 {
		min-height: 41.5rem;
	}

	.img-6 {
		min-height: 20rem;
	}

	  .video-container > video {
    width: 100%;
	}

/*----------------------------------ContactUs------------------------------*/
	.c-head {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center: 
	}

}


/********** Desktop **********/
@media only screen and (min-width:961px) {
/*------------------------------Landing Page------------------------------*/

}






















